body{
    background: #23252C;
    padding: 4em 0;
    display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#root{
    width: 350px;
    background: #1A1B21;
    border-radius:10px;

}
.info--section{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.info--img{
    max-width: 10%;
    min-width: 350px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info--name{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin-bottom: 0;
    font-size: 1.56rem;
}
.info--title{
    font-family: 'Inter', sans-serif;
    margin-top: 0;
    font-weight: 400;
    font-size: 0.95rem;
    color: #F3BF99;
}
.btn--1{
    background: white;
    text-decoration: none;
    padding: .5em 1.85em;
    border-radius: 6px;
    color: #374151;
    margin: 0 10px;
}
.btn--2{
    background: #5093E2;
    text-decoration: none;
    padding: .5em 1.5em;
    border-radius: 6px;
    color: white;
    margin: 0 10px;
}
.info--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
}
.about--section{
color: white;
margin: auto;
width: 300px; 
padding: 40px;
background: ba;
}
.about--bold{
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
    margin: 0;
    padding: 0;
}
.about--light{
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: 0.70rem;
    line-height: 1.2rem;
    margin: 0;
}
.interests--section{
color: white;
margin: auto;
width: 300px; 
padding: 0 40px;
}
.interests--bold{
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
    margin: 0;
    padding: 0;
}

.interests--light{
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: 0.70rem;
    line-height: 1.2rem;
    margin: 0;
}
.footer--section{
/* color: white;
margin: auto;
width: 209px;  */
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
background: #161619;
padding: 1em 0;
margin-top: 2.5em;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}